.heading{
    width:100;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float:right;
    border: 1px solid white;
    float: right;
}

#start,#status{
    font-size: 22px;
}
.modal-body{
    font-size: larger;
    text-align: left;
}
button{
 display:inline-block;   
}
.copy_right_footer{
    position:fixed;
    color:grey;
    bottom:0;
    width: 100%;
    background-color: white;
    line-height: 3;
    text-align: center;
}


